# Note: if you change any of the settings here, please reformat the entire
# codebase as part of the same commit, that will prevent subsequent commits
# from being flagged as being improperly formatted.

---
# This configuration requires clang-format 8.0 or higher.
BasedOnStyle: Mozilla
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakBeforeBraces: Allman
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 100
SpaceAfterTemplateKeyword: true
Standard: Cpp11
StatementMacros:
- DefineScopedHandle
- DefineToNumeric
- EXECUTE_METHOD
- ParticleTracerSetMacro
- PyObject_HEAD
- PyObject_VAR_HEAD
- SCALAR_FUNC
- STANDARD_OPERATION_DEFINITION
- STANDARD_OPERATION_FLOAT_OVERRIDE
- SetStdContainerMacro
- VTKOSTREAM_OPERATOR
- VTKOSTREAM_OPERATOR_FUNC
- VTK_CREATE_CREATE_FUNCTION
- VTK_GETCCWHULL
- VTK_GETSIZECCWHULL
- VTK_INFORMATION_DEFINE_POINTER_PROPERTY
- VTK_INFORMATION_DEFINE_SCALAR_PROPERTY
- VTK_INFORMATION_DEFINE_VECTOR_PROPERTY
- VTK_INFORMATION_DEFINE_VECTOR_VALUE2_PROPERTY
- VTK_INFORMATION_DEFINE_VECTOR_VALUE_PROPERTY
- VTK_RECTANGLEINTERSECTION
- VTK_RESIZE_CONVERT_FLOAT
- VTK_RESIZE_CONVERT_INT_CLAMP
- vtkAOSArrayNewInstanceMacro
- vtkAbstractObjectFactoryNewMacro
- vtkAbstractTemplateTypeMacro
- vtkAbstractTypeMacro
- vtkAbstractTypeMacroWithNewInstanceType
- vtkBaseTypeMacro
- vtkCxxSetSmartPointerMacro
- vtkEndForBothDiagonalMultiplyMatrixSpecializationMacro
- vtkGetCharFromStdStringMacro
- vtkGetEnumMacro
- vtkGetMacro
- vtkGetNewMacro
- vtkGetObjectMacro
- vtkGetStringMacro
- vtkGetStringTokenMacro
- vtkGetVector3Macro
- vtkGetVector6Macro
- vtkGetVectorMacro
- vtkImplicitArrayTypeMacro
- vtkInformationKeySetStringMacro
- vtkInheritanceHierarchyBaseMacro
- vtkInheritanceHierarchyOverrideMacro
- vtkLastRowMultiplyMatrixSpecializationMacro
- vtkMINCImageReaderConvertMacro
- vtkMINCImageReaderConvertMacroFloat
- vtkMINCImageReaderReadChunkMacro
- vtkMINCImageReaderReadChunkMacro2
- vtkMINCImageWriterConvertMacro
- vtkMINCImageWriterConvertMacroFloat
- vtkMINCImageWriterWriteChunkMacro
- vtkMINCImageWriterWriteChunkMacro2
- vtkObjectFactoryNewMacro
- vtkQuaternionOperatorMacro
- vtkSetMacro
- vtkSetMonitoredParameterMacro
- vtkSetObjectMacro
- vtkSetSmartPointerMacro
- vtkSetStdStringFromCharMacro
- vtkSetStringMacro
- vtkSetStringTokenMacro
- vtkSetVector2Macro
- vtkSetVector3Macro
- vtkSetVector4Macro
- vtkSetVector6Macro
- vtkSetVectorMacro
- vtkTypeMacro
- vtkVector3Cross
- vtkVectorDerivedMacro
- vtkVectorOperatorMacro
- vtkViewportCoordinateMacro
- vtkWorldCoordinateMacro
- VTKKWRCHelper_GetCellScalarValues
- VTKKWRCHelper_GetCellScalarValuesSimple
- VTKKWRCHelper_GetCellMagnitudeValues
- VTKKWRCHelper_GetCellDirectionValues
- VTKKWRCHelper_GetCellComponentScalarValues
- VTKKWRCHelper_GetCellComponentRawScalarValues
- VTKKWRCHelper_GetCellComponentMagnitudeValues
- VTKKWRCHelper_GetCellComponentDirectionValues
- VTKKWRCHelper_ComputeWeights
- VTKKWRCHelper_InterpolateScalar
- VTKKWRCHelper_InterpolateMagnitude
- VTKKWRCHelper_InterpolateScalarComponent
- VTKKWRCHelper_InterpolateMagnitudeComponent
- VTKKWRCHelper_InterpolateShadingComponent
- VTKKWRCHelper_LookupColorUS
- VTKKWRCHelper_LookupColorMax
- VTKKWRCHelper_LookupDependentColorUS
- VTKKWRCHelper_LookupColorGOUS
- VTKKWRCHelper_LookupShading
- VTKKWRCHelper_LookupAndCombineIndependentColorsUS
- VTKKWRCHelper_LookupAndCombineIndependentColorsGOUS
- VTKKWRCHelper_LookupAndCombineIndependentColorsShadeUS
- VTKKWRCHelper_LookupAndCombineIndependentColorsInterpolateShadeUS
- VTKKWRCHelper_CompositeColorAndCheckEarlyTermination
- VTKKWRCHelper_LookupAndCombineIndependentColorsGOShadeUS
- VTKKWRCHelper_LookupAndCombineIndependentColorsGOInterpolateShadeUS
- VTKKWRCHelper_SetPixelColor
- VTKKWRCHelper_MoveToNextSampleNN
- VTKKWRCHelper_MoveToNextSampleGONN
- VTKKWRCHelper_MoveToNextSampleShadeNN
- VTKKWRCHelper_MoveToNextSampleGOShadeNN
- VTKKWRCHelper_InitializeVariables
- VTKKWRCHelper_InitializeWeights
- VTKKWRCHelper_InitializeVariablesGO
- VTKKWRCHelper_InitializeVariablesShade
- VTKKWRCHelper_InitializeTrilinVariables
- VTKKWRCHelper_InitializeTrilinVariablesGO
- VTKKWRCHelper_InitializeTrilinVariablesShade
- VTKKWRCHelper_OuterInitialization
- VTKKWRCHelper_InnerInitialization
- VTKKWRCHelper_InitializeMIPOneNN
- VTKKWRCHelper_InitializeMIPMultiNN
- VTKKWRCHelper_InitializeMIPOneTrilin
- VTKKWRCHelper_InitializeMIPMultiTrilin
- VTKKWRCHelper_InitializeCompositeGONN
- VTKKWRCHelper_InitializeCompositeShadeNN
- VTKKWRCHelper_InitializeCompositeOneNN
- VTKKWRCHelper_InitializeCompositeMultiNN
- VTKKWRCHelper_InitializeCompositeOneTrilin
- VTKKWRCHelper_InitializeCompositeOneGOTrilin
- VTKKWRCHelper_InitializeCompositeOneShadeTrilin
- VTKKWRCHelper_InitializeCompositeMultiTrilin
- VTKKWRCHelper_InitializeCompositeMultiGOTrilin
- VTKKWRCHelper_InitializeCompositeMultiShadeTrilin
- VTKKWRCHelper_InitializationAndLoopStartNN
- VTKKWRCHelper_InitializationAndLoopStartGONN
- VTKKWRCHelper_InitializationAndLoopStartShadeNN
- VTKKWRCHelper_InitializationAndLoopStartGOShadeNN
- VTKKWRCHelper_InitializationAndLoopStartTrilin
- VTKKWRCHelper_InitializationAndLoopStartGOTrilin
- VTKKWRCHelper_InitializationAndLoopStartShadeTrilin
- VTKKWRCHelper_InitializationAndLoopStartGOShadeTrilin
- VTKKWRCHelper_IncrementAndLoopEnd
- VTKKWRCHelper_CroppingCheckTrilin
- VTKKWRCHelper_CroppingCheckNN
- VTKKWRCHelper_SpaceLeapSetup
- VTKKWRCHelper_SpaceLeapSetupMulti
- VTKKWRCHelper_SpaceLeapCheck
- VTKKWRCHelper_MIPSpaceLeapCheck
- VTKKWRCHelper_MIPSpaceLeapPopulateMulti
- VTKKWRCHelper_MIPSpaceLeapCheckMulti
- VTKKWRCHelper_InterpolateShading

...
