.git*            export-ignore
.hooks*          export-ignore

*.sh             crlf=input
newalpha         crlf=input
newversion       crlf=input
pre-commit       crlf=input

*.c              whitespace=tab-in-indent
*.h              whitespace=tab-in-indent
*.cxx            whitespace=tab-in-indent
*.hxx            whitespace=tab-in-indent
*.txx            whitespace=tab-in-indent
*.txt            whitespace=tab-in-indent
*.cmake          whitespace=tab-in-indent

*.md             whitespace=tab-in-indent conflict-marker-size=30

/ThirdParty/sqlite/vtksqlite/vtk_sqlite3.c hooks.MaxObjectKiB=4096
