.git*            export-ignore
.hooks*          export-ignore

*.sh             crlf=input
newalpha         crlf=input
newversion       crlf=input
pre-commit       crlf=input

*.c              whitespace=tab-in-indent,-blank-at-eol
*.h              whitespace=tab-in-indent,-blank-at-eol
*.cxx            whitespace=tab-in-indent,-blank-at-eol
*.hxx            whitespace=tab-in-indent,-blank-at-eol
*.txx            whitespace=tab-in-indent,-blank-at-eol
*.txt            whitespace=tab-in-indent,-blank-at-eol
*.cmake          whitespace=tab-in-indent,-blank-at-eol

/ThirdParty/sqlite/vtksqlite/vtk_sqlite3.c hooks.MaxObjectKiB=4096
