.vtk-chart {
    overflow: hidden;
}

 .vtk-chart > div  {
    position: relative;
    width: 100%;
    height: 100%;
}

.vtk-chart .vtk-legend {
    position: absolute;
    top: 10px;
    right: 10px;
}

.vtk-chart .vtk-bottom .vtk-top .vtk-left .vtk-right {
    overflow: hidden;
}

.vtk-chart .vtk-annotation {
}
