LSDyna/**              vtk-is-large-data
MFIXReader/**          vtk-is-large-data
NetCDF/**              vtk-is-large-data
SLAC/**                vtk-is-large-data
WindBladeReader/**     vtk-is-large-data
