.examplegrid {
  display: -ms-inline-grid; /* IE 10 */
  display: inline-grid;
  padding: 0 4px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: start;
  justify-items: start;
  margin: auto;
  width: 100%;
}

.examplegrid_container img {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 6px 6px 2px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  width: 350px;
  background-color: white;
  background-image: url(vtkLogo.ico);
  background-repeat: no-repeat;
  background-position: center center;
}

.examplegrid_container {
  position: relative;
  width: 100%;
}

.examplegrid_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.1s ease;
  background-color: black;
}

.examplegrid_container:hover .examplegrid_overlay {
  opacity: 0.65;
}

.examplegrid_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.examplegrid_container img:before {
  content: '';
  display: block;
  position: relative;
  left: 0px;
  height: 150px;
  width: 200px;
  background-color: white;
  background-image: url(vtkLogo.ico);
  background-repeat: repeat-y;
  background-position: center center;
  }
