
/* ========== Main toolbar Info ========== */

.vtkweb-catalyst-analysis .toolbar-main {
    position: relative;
    font-weight: bold;
    font-size: 25px;
    vertical-align: middle;
    background: #333;
    padding:  0 5px;
    color: white;
}

.vtkweb-catalyst-analysis .toolbar-main li.logo {
    background-image: url('../../ext/pv/pv-cinema-ww.png');
    background-repeat: no-repeat;
    background-size: contain;

    position: relative;
    width: 30px;
    height: 27px;
    top: 3px;

    display: inline-block;
}

.vtkweb-catalyst-analysis ul.toolbar-main  {
    list-style: none;
}

.vtkweb-catalyst-analysis ul.toolbar-main li {
    display: inline;
    padding: 0;
    margin: -2px 10px;
}

.vtkweb-catalyst-analysis ul.toolbar-main li.right {
    float: right;
}

.vtkweb-catalyst-analysis .action {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.vtkweb-catalyst-analysis .toggle-button.active {
    background-color: #999;
}

.vtkweb-catalyst-analysis .toolbar-main .run-button {
    padding-right: 15px;
}

.vtkweb-catalyst-analysis .toolbar-main .need-project {
    display: none;
}

.vtkweb-catalyst-analysis .toggle-content {
    display: none;
}

.vtkweb-catalyst-analysis i.help {
    display: none;
}

/* ========== Project Info ========== */

.vtkweb-catalyst-analysis .info-content {
    margin: 15px;
}

.vtkweb-catalyst-analysis .info-content table td {
    padding-bottom: 10px;
}

.vtkweb-catalyst-analysis .info-content .key {
    font-weight: bold;
    text-align: right;
}
.vtkweb-catalyst-analysis .info-content .value {
    font-weight: normal;
    padding-left: 15px;
}

/* ========== Run content ========== */

.vtkweb-catalyst-analysis .run-content {
    position: absolute;
    top: 31px;
    left: -1000px;
    background: #333;
    color: white;
    z-index: 102;
}

.vtkweb-catalyst-analysis .run-content li {
    padding: 5px 20px;
    border-bottom: solid 1px #aaa;
}

.vtkweb-catalyst-analysis .run-content li:hover {
    background: #999;
}


.vtkweb-catalyst-analysis .run-content li i.help {
    position: absolute;
    left: 100%;
    width: 300px;
    top: 10px;
    color: black;

    padding: 10px;
    background: #FFFFCC;
    border-radius: 5px;
    margin-left: 15px;
    border: solid 1px #999;
}

.vtkweb-catalyst-analysis .run-content li:hover i.help {
   display: block;
}

/* ========== User Share content ========== */

.vtkweb-catalyst-analysis .share-content {
    padding: 15px;
}