.vtkweb-catalyst-analysis-search .search-toolbar {
    position: relative;
    width: 98%;
    padding: 10px;
}

.vtkweb-catalyst-analysis-search .search-toolbar input[type='range'] {
    float: right;
}

.vtkweb-catalyst-analysis-search .search-toolbar input[type='text'] {
    width: 30%;
    margin: 0 10px 0 10px;
}

.vtkweb-catalyst-analysis-search .search-toolbar input.sort-expression {
    width: 7%;
}

.vtkweb-catalyst-analysis-search .search-toolbar i {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    border: solid 1px black;
    border-radius: 5px;
    background: white;
    padding: 10px;
    z-index: 10;
}
.vtkweb-catalyst-analysis-search .search-toolbar:hover i {
    display: block;
}

.vtkweb-catalyst-analysis-search .query-result {
    margin: 10px;
    border-radius: 5px;
    border: solid 1px black;
    position: relative;
    float: left;
    overflow: hidden;
}

.vtkweb-catalyst-analysis-search .query-stats {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
}

.vtkweb-catalyst-analysis-search .query-result .image-result {
    position: relative;
    width: 100%;
    z-index: 1;
}

.vtkweb-catalyst-analysis-search .search-button {
    padding: 2px;
    border-radius: 4px;
    border: solid 1px black;
    background: white;
    margin-left: 15px;
}

.vtkweb-catalyst-analysis-search .toggle-stats.stats {
    background: #ccc;
}