.vtk-catalyst-viewer .control {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    border: solid 1px rgba(0, 0, 0, 0.7);
    border-radius: 0 0 0 10px;
    top: 0px;
    right: 0px;
    width: 300px;
    z-index: 2;
}

.vtk-catalyst-viewer.small .control {
    width: 4.5em;
}
.vtk-catalyst-viewer.small .control .header {
  border-radius: 0 0 0 8px;
}

.vtk-catalyst-viewer .stop {
    display: none;
}

.vtk-catalyst-viewer.small .control .parameters {
   display: none;
}

.vtk-catalyst-viewer .control .header {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: normal;
    height: 1.4em;
    border-radius: 0;
}

.vtk-catalyst-viewer .control .header span {
    float: right;
    cursor: pointer;
}

.vtk-catalyst-viewer .control .parameters {
    padding: 10px;
}

.vtk-catalyst-viewer .control .parameters li {
    list-style: none;
    margin: 0;
}

.vtk-catalyst-viewer .control .parameters .label {
    margin-left: -6px;
    margin-right: 5px;
    text-align: left;
    font-weight: bold;
}

.vtk-catalyst-viewer .control .parameters .label .flag {
    visibility: hidden;
    width: 1.5em;
    float: left;
}

.vtk-catalyst-viewer .control .parameters .label.active .flag {
    visibility: visible;
}

.vtk-catalyst-viewer .control .parameters .label.select {
    margin-bottom: 5px;
}

.vtk-catalyst-viewer .control .parameters .label span {
    float: right;
    font-weight: normal;
}

.vtk-catalyst-viewer .control .parameters input {
    width: 90%;
    display: inline-block;
    padding-right: 10px;
}

.vtk-catalyst-viewer .control .parameters select {
    float: right;
}

.vtk-catalyst-viewer .image-viewer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}