/* -------------------------------------------- */
/* Sub menu */
/* -------------------------------------------- */

.vtkweb-catalyst-analysis .sub-menu {
    position: relative;
    top: 0;
    background: #999;
    color: white;
    height: 30px;
}

.vtkweb-catalyst-analysis .sub-menu ul {
    list-style: none;
    z-index: 100;
}

.vtkweb-catalyst-analysis .sub-menu ul.menu > li {
    position: relative;
    display: inline;
    padding: 0 5px;
}
.vtkweb-catalyst-analysis .sub-menu ul.menu {
    position: absolute;
    top: 0;
    height: 30px;
    padding: 5px;
}

.vtkweb-catalyst-analysis .sub-menu ul.menu.right {
    right: 0;
}

.vtkweb-catalyst-analysis .sub-menu ul.menu.left {
   left: 0;
}

.vtkweb-catalyst-analysis .sub-menu ul.menu ul {
    display: none;
    background: #ccc;
    border-radius: 6px;
    border-top: solid 6px #999;
    padding-bottom: 6px;
}

.vtkweb-catalyst-analysis .sub-menu ul.menu ul li:hover {
    background: #ddd;
}

.vtkweb-catalyst-analysis .sub-menu ul.menu ul > li {
    padding: 10px 15px;
}

.vtkweb-catalyst-analysis .sub-menu li.sub:hover > ul {
    display: block;
    position: absolute;
    white-space: nowrap;
    color: black;
}

.vtkweb-catalyst-analysis .sub-menu li.sub.active > ul {
    display: block;
    position: absolute;
    white-space: nowrap;
    color: black;
}

.vtkweb-catalyst-analysis .sub-menu ul.menu > li.sub:hover > ul {
    top: 100%;
    left: 0;
}

.vtkweb-catalyst-analysis .sub-menu ul.menu ul li.sub:hover > ul {
    top: 0;
    left: 100%;
}

.vtkweb-catalyst-analysis .sub-menu li i.help {
    position: absolute;
    left: 100%;
    top: 5px;
    color: black;
    padding: 10px;
    background: #FFFFCC;
    border-radius: 5px;
    margin-left: 5px;
    border: solid 1px #999;
}

.vtkweb-catalyst-analysis .sub-menu li:hover > i.help {
   display: block;
}

/* -------------------------------------------- */
/* view content */
/* -------------------------------------------- */

.vtkweb-catalyst-analysis .bench-content .bench-viewers {
    position: relative;
    top: 5px;
}

.vtkweb-catalyst-analysis .bench-content .bench-viewers .viewer {
    position: relative;
    float: left;
    border: solid 1px black;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.vtkweb-catalyst-analysis .bench-content .bench-viewers .viewer .title-bar {
    position: relative;
    width: 100%;
    background: black;
    height: 20px;
    color: white;
    padding-left: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vtkweb-catalyst-analysis .bench-content .bench-viewers .viewer .title-bar .right {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}


.vtkweb-catalyst-analysis .bench-content .bench-viewers .viewer .content {
    position: absolute;
    top: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}