<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>iOSapplication</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTK Unstructured Grid</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vtu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>iOSapplication</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTK Structured Grid</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vts</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>iOSapplication</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTK Rectlinear Grid</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vtr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>iOSapplication</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTK Image Data</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vti</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>opengles-3</string>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTK XML Unstructured Grid</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vtu</string>
			<key>UTTypeSize320IconFile</key>
			<string>iOSapplication</string>
			<key>UTTypeSize64IconFile</key>
			<string>iOSapplication</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>VTU</string>
				<key>public.filename-extension</key>
				<array>
					<string>vtu</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTK XML Structured Grid</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vts</string>
			<key>UTTypeSize320IconFile</key>
			<string>iOSapplication</string>
			<key>UTTypeSize64IconFile</key>
			<string>iOSapplication</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>VTS</string>
				<key>public.filename-extension</key>
				<array>
					<string>vts</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTK XML Rectilinear Grid</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vtr</string>
			<key>UTTypeSize320IconFile</key>
			<string>iOSapplication</string>
			<key>UTTypeSize64IconFile</key>
			<string>iOSapplication</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>VTS</string>
				<key>public.filename-extension</key>
				<array>
					<string>vtr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTK XML Image Data</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vti</string>
			<key>UTTypeSize320IconFile</key>
			<string>iOSapplication</string>
			<key>UTTypeSize64IconFile</key>
			<string>iOSapplication</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>VTI</string>
				<key>public.filename-extension</key>
				<array>
					<string>vti</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
