GCC_PREFIX_HEADER = PrefixHeader.pch
INFOPLIST_FILE = Info-Xcode.plist
PRODUCT_NAME = SimpleCocoaVTK

// Link to system zlib (if VTK_USE_SYSTEM_ZLIB was ON).
// OTHER_LDFLAGS = -lz

// OS X architectures (match to CMAKE_OSX_ARCHITECTURES used to built VTK itself).
// ARCHS = x86_64

// OS X SDK (match to CMAKE_OSX_SYSROOT used to built VTK itself).
// SDKROOT = macosx

// OS X Deployment Target (match to CMAKE_OSX_DEPLOYMENT_TARGET used to built VTK itself).
// MACOSX_DEPLOYMENT_TARGET = 10.7

// Use the source trees to find the VTK libs and headers.
HEADER_SEARCH_PATHS = $(vtk-debug-include)
LIBRARY_SEARCH_PATHS = $(vtk-debug-lib)
