GCC_PREFIX_HEADER = PrefixHeader.pch
INFOPLIST_FILE = Info-Xcode.plist
PRODUCT_NAME = SimpleCocoaVTK
PRODUCT_BUNDLE_IDENTIFIER = org.vtk.SimpleCocoaVTK;

// Turn off compiler optimizations so we can debug.
GCC_OPTIMIZATION_LEVEL = 0

// Link to system zlib (if VTK_USE_SYSTEM_ZLIB was ON).
// OTHER_LDFLAGS = -lz

// macOS architectures (match to CMAKE_OSX_ARCHITECTURES used to built VTK itself).
// ARCHS = x86_64

// macOS SDK (match to CMAKE_OSX_SYSROOT used to built VTK itself).
// SDKROOT = macosx

// macOS Deployment Target (match to CMAKE_OSX_DEPLOYMENT_TARGET used to built VTK itself).
// MACOSX_DEPLOYMENT_TARGET = 10.9

// Use the source trees to find the VTK libs and headers.
HEADER_SEARCH_PATHS = $(vtk-debug-include)
LIBRARY_SEARCH_PATHS = $(vtk-debug-lib)

// Use ARC memory management (this sample code requires it).
CLANG_ENABLE_OBJC_ARC = YES

// User headers will only be accessible with #include "header.h"-style.
ALWAYS_SEARCH_USER_PATHS = NO

// VTK requires at least C++11.
CLANG_CXX_LANGUAGE_STANDARD = c++11
