html, body, div, span, h1, h2, h3, h4, p, a, big, em, font, img, s, small, strong,
tt, var, b,u,i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table,
tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: Arial,sans-serif; font-size: 1em;
}

.browser {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.browser ul[type=path] {
    background: #cccccc;
    border-bottom: solid 1px black;
}